xsd/internal/c8oforms_fs/GetDocumentRev.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:C8Oforms_NGX_ns="http://www.convertigo.com/convertigo/projects/C8Oforms_NGX" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/C8Oforms_NGX">
    <xsd:element name="c8oforms_fs__GetDocumentRev" type="C8Oforms_NGX_ns:c8oforms_fs__GetDocumentRevRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_fs__GetDocumentRevResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="C8Oforms_NGX_ns:c8oforms_fs__GetDocumentRevResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_fs__GetDocumentRevResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="C8Oforms_NGX_ns:c8oforms_fs__GetDocumentRevResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetDocumentRevRequestData">
        <xsd:sequence>
            <xsd:element name="_use_docid" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Document ID</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_rev" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Retrieves document of specified revision. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Content_LengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Length" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Length" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Content_LengthType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="ETag" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Server" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_creatorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_descformType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_descformPositionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_clearInputType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_labelType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_mandatoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_placeholderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_shortType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_checkedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_disabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_multipleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_altType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_srcType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_debounceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_defaultvalueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_maxType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_minType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_pinType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_snapsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_stepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_day_names_itemType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_day_namesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_day_names_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_display_formatType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_max_datetimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_min_datetimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_month_names_itemType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_month_namesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_month_names_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_picker_formatType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_sizeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_textType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_titleType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_label_colorType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_positionType"/>
            <xsd:element minOccurs="0" name="size" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_sizeType"/>
            <xsd:element minOccurs="0" name="text" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_title_textType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_configType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="clearInput" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_clearInputType"/>
            <xsd:element minOccurs="0" name="label" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_labelType"/>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_label_colorType"/>
            <xsd:element minOccurs="0" name="mandatory" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_mandatoryType"/>
            <xsd:element minOccurs="0" name="placeholder" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_placeholderType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_positionType"/>
            <xsd:element minOccurs="0" name="short" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_shortType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_typeType"/>
            <xsd:element minOccurs="0" name="checked" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_checkedType"/>
            <xsd:element minOccurs="0" name="color" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_colorType"/>
            <xsd:element minOccurs="0" name="disabled" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_disabledType"/>
            <xsd:element minOccurs="0" name="multiple" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_multipleType"/>
            <xsd:element minOccurs="0" name="alt" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_altType"/>
            <xsd:element minOccurs="0" name="height" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_heightType"/>
            <xsd:element minOccurs="0" name="src" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_srcType"/>
            <xsd:element minOccurs="0" name="width" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_widthType"/>
            <xsd:element minOccurs="0" name="debounce" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_debounceType"/>
            <xsd:element minOccurs="0" name="defaultvalue" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_defaultvalueType"/>
            <xsd:element minOccurs="0" name="max" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_maxType"/>
            <xsd:element minOccurs="0" name="min" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_minType"/>
            <xsd:element minOccurs="0" name="pin" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_pinType"/>
            <xsd:element minOccurs="0" name="snaps" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_snapsType"/>
            <xsd:element minOccurs="0" name="step" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_stepType"/>
            <xsd:element minOccurs="0" name="day_names" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_day_namesType"/>
            <xsd:element minOccurs="0" name="display_format" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_display_formatType"/>
            <xsd:element minOccurs="0" name="max_datetime" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_max_datetimeType"/>
            <xsd:element minOccurs="0" name="min_datetime" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_min_datetimeType"/>
            <xsd:element minOccurs="0" name="month_names" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_month_namesType"/>
            <xsd:element minOccurs="0" name="picker_format" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_picker_formatType"/>
            <xsd:element minOccurs="0" name="title" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_config_titleType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_selectedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_otherType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_clearInputType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_labelType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_mandatoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_placeholderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_shortType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_configType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="clearInput" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_clearInputType"/>
            <xsd:element minOccurs="0" name="label" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_labelType"/>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_label_colorType"/>
            <xsd:element minOccurs="0" name="mandatory" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_mandatoryType"/>
            <xsd:element minOccurs="0" name="placeholder" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_placeholderType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_positionType"/>
            <xsd:element minOccurs="0" name="short" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_shortType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_config_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_label_colorType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_positionType"/>
            <xsd:element minOccurs="0" name="selected" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_selectedType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_valueType"/>
            <xsd:element minOccurs="0" name="other" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_otherType"/>
            <xsd:element minOccurs="0" name="config" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_configType"/>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_idType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_nameType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_item_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_childrenType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_children_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="config" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_configType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_idType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_nameType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="type" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_typeType"/>
            <xsd:element minOccurs="0" name="children" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_item_childrenType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaireType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaire_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_namePositionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_respNameRequiredType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_enabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_indexType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_randomType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaperType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="enabled" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_enabledType"/>
            <xsd:element minOccurs="0" name="index" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_indexType"/>
            <xsd:element minOccurs="0" name="link" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_linkType"/>
            <xsd:element minOccurs="0" name="random" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaper_randomType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetDocumentRev_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__revType"/>
            <xsd:element minOccurs="0" name="creator" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_creatorType"/>
            <xsd:element minOccurs="0" name="descform" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_descformType"/>
            <xsd:element minOccurs="0" name="descformPosition" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_descformPositionType"/>
            <xsd:element minOccurs="0" name="formulaire" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_formulaireType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_nameType"/>
            <xsd:element minOccurs="0" name="namePosition" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_namePositionType"/>
            <xsd:element minOccurs="0" name="respNameRequired" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_respNameRequiredType"/>
            <xsd:element minOccurs="0" name="wallpaper" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output_wallpaperType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_output__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetDocumentRevResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="C8Oforms_NGX_ns:c8oforms_fs_GetDocumentRev_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="C8Oforms_NGX_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="C8Oforms_NGX_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="C8Oforms_NGX_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
