xsd/internal/c8oforms_fs/GetUsersByACL.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:C8Oforms_ns="http://www.convertigo.com/convertigo/projects/C8Oforms" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/C8Oforms">
    <xsd:element name="c8oforms_fs__GetUsersByACL" type="C8Oforms_ns:c8oforms_fs__GetUsersByACLRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_fs__GetUsersByACLResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="C8Oforms_ns:c8oforms_fs__GetUsersByACLResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_fs__GetUsersByACLResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="C8Oforms_ns:c8oforms_fs__GetUsersByACLResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetUsersByACLRequestData">
        <xsd:sequence>
            <xsd:element name="_use_ddoc" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element name="_use_view" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element name="_use_keys" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
            <xsd:element name="_use_include_docs" type="xsd:string">
                <xsd:annotation/>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_value_mailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="mail" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_value_mailType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_favoritesType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_published_FirstType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_languageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_providerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_mailType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_editing_rightsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_surnameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_displayNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_pictureType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_c8o_view_type_usersType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_docType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="favorites" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_favoritesType"/>
            <xsd:element minOccurs="0" name="published_First" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_published_FirstType"/>
            <xsd:element minOccurs="0" name="language" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_languageType"/>
            <xsd:element minOccurs="0" name="provider" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_providerType"/>
            <xsd:element minOccurs="0" name="mail" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_mailType"/>
            <xsd:element minOccurs="0" name="editing_rights" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_editing_rightsType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_nameType"/>
            <xsd:element minOccurs="0" name="surname" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_surnameType"/>
            <xsd:element minOccurs="0" name="displayName" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_displayNameType"/>
            <xsd:element minOccurs="0" name="picture" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_pictureType"/>
            <xsd:element minOccurs="0" name="c8o_view_type_users" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc_c8o_view_type_usersType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__c8oAclType"/>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_doc__revType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="key" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_keyType"/>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_valueType"/>
            <xsd:element minOccurs="0" name="doc" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_item_docType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_X_Powered_ByType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Powered-By" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Content_LengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Length" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_ETagType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_VaryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_ConnectionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Keep_AliveType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Keep-Alive" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="X_Powered_By" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_X_Powered_ByType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Content_Length" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Content_LengthType"/>
            <xsd:element minOccurs="0" name="ETag" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_ETagType"/>
            <xsd:element minOccurs="0" name="Vary" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_VaryType"/>
            <xsd:element minOccurs="0" name="Date" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Connection" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_ConnectionType"/>
            <xsd:element minOccurs="0" name="Keep_Alive" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headers_Keep_AliveType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="statusCode" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_statusCodeType"/>
            <xsd:element minOccurs="0" name="status" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="headers" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMeta_headersType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetUsersByACL_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="total_rows" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_total_rowsType"/>
            <xsd:element minOccurs="0" name="offset" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="_c8oMeta" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_output__c8oMetaType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetUsersByACLResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="C8Oforms_ns:c8oforms_fs_GetUsersByACL_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="C8Oforms_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="C8Oforms_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="C8Oforms_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
