xsd/internal/c8oforms_fs/GetViewIncludeDocs.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:C8Oforms_ns="http://www.convertigo.com/convertigo/projects/C8Oforms" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/C8Oforms">
    <xsd:element name="c8oforms_fs__GetViewIncludeDocs" type="C8Oforms_ns:c8oforms_fs__GetViewIncludeDocsRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_fs__GetViewIncludeDocsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="C8Oforms_ns:c8oforms_fs__GetViewIncludeDocsResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_fs__GetViewIncludeDocsResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="C8Oforms_ns:c8oforms_fs__GetViewIncludeDocsResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetViewIncludeDocsRequestData">
        <xsd:sequence>
            <xsd:element name="_use_ddoc" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Design document name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_view" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>View function name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_include_docs" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(boolean) – Include the associated document with each row. Default is false</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Transfer-Encoding" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Server" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_content_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_digestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_lengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_revposType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_stubType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachmentType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="content_type" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_content_typeType"/>
            <xsd:element minOccurs="0" name="digest" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_digestType"/>
            <xsd:element minOccurs="0" name="length" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_lengthType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_nameType"/>
            <xsd:element minOccurs="0" name="revpos" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_revposType"/>
            <xsd:element minOccurs="0" name="stub" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachment_stubType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachmentsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="attachment" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachments_attachmentType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_backgroundColorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_c8o_view_type_pwa_documentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_doneType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_notAnonymousType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_originalFormIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_querystrType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_shortNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_targetIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_themeColorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_updateFinishedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_docType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_attachments" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__attachmentsType"/>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__revType"/>
            <xsd:element minOccurs="0" name="backgroundColor" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_backgroundColorType"/>
            <xsd:element minOccurs="0" name="c8o_view_type_pwa_document" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_c8o_view_type_pwa_documentType"/>
            <xsd:element minOccurs="0" name="done" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_doneType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_nameType"/>
            <xsd:element minOccurs="0" name="notAnonymous" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_notAnonymousType"/>
            <xsd:element minOccurs="0" name="originalFormId" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_originalFormIdType"/>
            <xsd:element minOccurs="0" name="querystr" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_querystrType"/>
            <xsd:element minOccurs="0" name="shortName" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_shortNameType"/>
            <xsd:element minOccurs="0" name="targetId" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_targetIdType"/>
            <xsd:element minOccurs="0" name="themeColor" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_themeColorType"/>
            <xsd:element minOccurs="0" name="updateFinished" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc_updateFinishedType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_doc__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_content_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_digestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_lengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_revposType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_stubType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachmentType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="content_type" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_content_typeType"/>
            <xsd:element minOccurs="0" name="digest" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_digestType"/>
            <xsd:element minOccurs="0" name="length" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_lengthType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_nameType"/>
            <xsd:element minOccurs="0" name="revpos" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_revposType"/>
            <xsd:element minOccurs="0" name="stub" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachment_stubType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachmentsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="attachment" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachments_attachmentType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_backgroundColorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_c8o_view_type_pwa_documentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_doneType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_notAnonymousType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_originalFormIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_querystrType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_shortNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_targetIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_themeColorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_updateFinishedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_docType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_attachments" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__attachmentsType"/>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__revType"/>
            <xsd:element minOccurs="0" name="backgroundColor" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_backgroundColorType"/>
            <xsd:element minOccurs="0" name="c8o_view_type_pwa_document" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_c8o_view_type_pwa_documentType"/>
            <xsd:element minOccurs="0" name="done" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_doneType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_nameType"/>
            <xsd:element minOccurs="0" name="notAnonymous" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_notAnonymousType"/>
            <xsd:element minOccurs="0" name="originalFormId" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_originalFormIdType"/>
            <xsd:element minOccurs="0" name="querystr" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_querystrType"/>
            <xsd:element minOccurs="0" name="shortName" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_shortNameType"/>
            <xsd:element minOccurs="0" name="targetId" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_targetIdType"/>
            <xsd:element minOccurs="0" name="themeColor" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_themeColorType"/>
            <xsd:element minOccurs="0" name="updateFinished" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc_updateFinishedType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_doc__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="doc" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_value_docType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="doc" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_docType"/>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="key" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_keyType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetViewIncludeDocs_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="offset" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="total_rows" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_output_total_rowsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetViewIncludeDocsResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="C8Oforms_ns:c8oforms_fs_GetViewIncludeDocs_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="C8Oforms_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="C8Oforms_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="C8Oforms_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
