xsd/internal/c8oforms_fs/GetView.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:C8Oforms_ns="http://www.convertigo.com/convertigo/projects/C8Oforms" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/C8Oforms">
    <xsd:element name="c8oforms_fs__GetView" type="C8Oforms_ns:c8oforms_fs__GetViewRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_fs__GetViewResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="C8Oforms_ns:c8oforms_fs__GetViewResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_fs__GetViewResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="C8Oforms_ns:c8oforms_fs__GetViewResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetViewRequestData">
        <xsd:sequence>
            <xsd:element name="_use_ddoc" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>Design document name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="_use_view" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>View function name</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Transfer-Encoding" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Server" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_actionsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="length" type="xsd:byte"/>
                <xsd:attribute default="array" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_c8o_view_type_drafts_formType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_creatorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_descformType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_descformPositionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_clearInputType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_disabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_htmlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_labelType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_mandatoryType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_pageType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_personalizedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_placeholderType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_shortType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_differentType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_checkedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_altType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_heightType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_srcType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_widthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_debounceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_defaultvalueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_maxType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_minType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_pinType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_snapsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_stepType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_configType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="clearInput" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_clearInputType"/>
            <xsd:element minOccurs="0" name="color" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_colorType"/>
            <xsd:element minOccurs="0" name="disabled" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_disabledType"/>
            <xsd:element minOccurs="0" name="html" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_htmlType"/>
            <xsd:element minOccurs="0" name="label" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_labelType"/>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_label_colorType"/>
            <xsd:element minOccurs="0" name="mandatory" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_mandatoryType"/>
            <xsd:element minOccurs="0" name="page" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_pageType"/>
            <xsd:element minOccurs="0" name="personalized" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_personalizedType"/>
            <xsd:element minOccurs="0" name="placeholder" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_placeholderType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_positionType"/>
            <xsd:element minOccurs="0" name="short" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_shortType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_typeType"/>
            <xsd:element minOccurs="0" name="different" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_differentType"/>
            <xsd:element minOccurs="0" name="checked" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_checkedType"/>
            <xsd:element minOccurs="0" name="alt" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_altType"/>
            <xsd:element minOccurs="0" name="height" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_heightType"/>
            <xsd:element minOccurs="0" name="src" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_srcType"/>
            <xsd:element minOccurs="0" name="width" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_widthType"/>
            <xsd:element minOccurs="0" name="debounce" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_debounceType"/>
            <xsd:element minOccurs="0" name="defaultvalue" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_defaultvalueType"/>
            <xsd:element minOccurs="0" name="max" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_maxType"/>
            <xsd:element minOccurs="0" name="min" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_minType"/>
            <xsd:element minOccurs="0" name="pin" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_pinType"/>
            <xsd:element minOccurs="0" name="snaps" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_snapsType"/>
            <xsd:element minOccurs="0" name="step" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_config_stepType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_selectedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_label_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_positionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_idType"/>
            <xsd:element minOccurs="0" name="selected" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_selectedType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_valueType"/>
            <xsd:element minOccurs="0" name="label_color" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_label_colorType"/>
            <xsd:element minOccurs="0" name="position" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_item_positionType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_childrenType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_children_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_titleType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_valueType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="length" type="xsd:byte"/>
                <xsd:attribute default="array" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_idType"/>
            <xsd:element minOccurs="0" name="title" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_titleType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_linesType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_lines_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="config" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_configType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_idType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_nameType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_typeType"/>
            <xsd:element minOccurs="0" name="children" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_childrenType"/>
            <xsd:element minOccurs="0" name="lines" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_item_linesType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaireType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaire_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_namePositionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_descType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_pageTechNameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="desc" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_descType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_nameType"/>
            <xsd:element minOccurs="0" name="pageTechName" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_item_pageTechNameType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pagesType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pages_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_respNameRequiredType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_technicalVersionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_enabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_indexType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_randomType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnailType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="color" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_colorType"/>
            <xsd:element minOccurs="0" name="enabled" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_enabledType"/>
            <xsd:element minOccurs="0" name="index" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_indexType"/>
            <xsd:element minOccurs="0" name="random" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_randomType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnail_typeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_enabledType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_indexType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_linkType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_randomType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_b64Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_colorType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaperType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="enabled" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_enabledType"/>
            <xsd:element minOccurs="0" name="index" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_indexType"/>
            <xsd:element minOccurs="0" name="link" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_linkType"/>
            <xsd:element minOccurs="0" name="random" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_randomType"/>
            <xsd:element minOccurs="0" name="type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_typeType"/>
            <xsd:element minOccurs="0" name="b64" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_b64Type"/>
            <xsd:element minOccurs="0" name="color" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaper_colorType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_content_typeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_digestType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_lengthType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_nameType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_revposType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_stubType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachmentType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="content_type" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_content_typeType"/>
            <xsd:element minOccurs="0" name="digest" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_digestType"/>
            <xsd:element minOccurs="0" name="length" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_lengthType"/>
            <xsd:element minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_nameType"/>
            <xsd:element minOccurs="0" name="revpos" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_revposType"/>
            <xsd:element minOccurs="0" name="stub" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachment_stubType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachmentsType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="attachment" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachments_attachmentType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_deletedType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_tag_itemType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_tagType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_tag_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_subTag_itemType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_subTagType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_subTag_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_parentIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_parentRevType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_versionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_value_docType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__revType"/>
            <xsd:element minOccurs="0" name="actions" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_actionsType"/>
            <xsd:element minOccurs="0" name="c8o_view_type_drafts_form" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_c8o_view_type_drafts_formType"/>
            <xsd:element minOccurs="0" name="creator" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_creatorType"/>
            <xsd:element minOccurs="0" name="descform" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_descformType"/>
            <xsd:element minOccurs="0" name="descformPosition" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_descformPositionType"/>
            <xsd:element minOccurs="0" name="formulaire" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_formulaireType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="name" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_nameType"/>
            <xsd:element minOccurs="0" name="namePosition" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_namePositionType"/>
            <xsd:element minOccurs="0" name="pages" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_pagesType"/>
            <xsd:element minOccurs="0" name="respNameRequired" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_respNameRequiredType"/>
            <xsd:element minOccurs="0" name="technicalVersion" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_technicalVersionType"/>
            <xsd:element minOccurs="0" name="thumbnail" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_thumbnailType"/>
            <xsd:element minOccurs="0" name="wallpaper" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_wallpaperType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__c8oAclType"/>
            <xsd:element minOccurs="0" name="_attachments" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc__attachmentsType"/>
            <xsd:element minOccurs="0" name="deleted" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_deletedType"/>
            <xsd:element minOccurs="0" name="tag" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_tagType"/>
            <xsd:element minOccurs="0" name="subTag" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_subTagType"/>
            <xsd:element minOccurs="0" name="parentId" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_parentIdType"/>
            <xsd:element minOccurs="0" name="parentRev" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_parentRevType"/>
            <xsd:element minOccurs="0" name="version" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_doc_versionType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="doc" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_value_docType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="id" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="key" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_keyType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="value" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs_GetView_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="offset" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="total_rows" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_output_total_rowsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_fs__GetViewResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="C8Oforms_ns:c8oforms_fs_GetView_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="C8Oforms_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="C8Oforms_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="C8Oforms_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
