xsd/internal/c8oforms_response_fs/GetResponseByFormId.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:C8Oforms_NGX_ns="http://www.convertigo.com/convertigo/projects/C8Oforms_NGX" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.convertigo.com/convertigo/projects/C8Oforms_NGX">
    <xsd:element name="c8oforms_response_fs__GetResponseByFormId" type="C8Oforms_NGX_ns:c8oforms_response_fs__GetResponseByFormIdRequestData">
        <xsd:annotation/>
    </xsd:element>
    <xsd:element name="c8oforms_response_fs__GetResponseByFormIdResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="response" type="C8Oforms_NGX_ns:c8oforms_response_fs__GetResponseByFormIdResponseData"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="c8oforms_response_fs__GetResponseByFormIdResponseType">
        <xsd:sequence>
            <xsd:element name="document" type="C8Oforms_NGX_ns:c8oforms_response_fs__GetResponseByFormIdResponseData"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs__GetResponseByFormIdRequestData">
        <xsd:sequence>
            <xsd:element name="_use_key" type="xsd:string">
                <xsd:annotation>
                    <xsd:appinfo>(string) – Return only documents that match the specified key. Optional</xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Cache_ControlType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Cache-Control" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Content_TypeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Content-Type" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_DateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_ServerType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Transfer-Encoding" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-Couch-Request-ID" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="X-CouchDB-Body-Time" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headersType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Cache_Control" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Cache_ControlType"/>
            <xsd:element minOccurs="0" name="Content_Type" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Content_TypeType"/>
            <xsd:element minOccurs="0" name="Date" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_DateType"/>
            <xsd:element minOccurs="0" name="Server" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_ServerType"/>
            <xsd:element minOccurs="0" name="Transfer_Encoding" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_Transfer_EncodingType"/>
            <xsd:element minOccurs="0" name="X_Couch_Request_ID" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_X_Couch_Request_IDType"/>
            <xsd:element minOccurs="0" name="X_CouchDB_Body_Time" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headers_X_CouchDB_Body_TimeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_reasonPhraseType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_statusType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_statusCodeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMetaType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="headers" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_headersType"/>
            <xsd:element minOccurs="0" name="reasonPhrase" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_reasonPhraseType"/>
            <xsd:element minOccurs="0" name="status" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_statusType"/>
            <xsd:element minOccurs="0" name="statusCode" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMeta_statusCodeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_offsetType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_keyType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__idType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__revType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_formIdType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1_radiolistRegimeAlimType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="radiolistRégimeAlim" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1_select1Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="radiolistRegimeAlim" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1_radiolistRegimeAlimType"/>
            <xsd:element minOccurs="0" name="select1" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1_select1Type"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_1Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Jour 1" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_2Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Jour 2" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_3Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Jour 3" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_4Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="Jour 4" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipeType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Jour_1" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_1Type"/>
            <xsd:element minOccurs="0" name="Jour_2" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_2Type"/>
            <xsd:element minOccurs="0" name="Jour_3" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_3Type"/>
            <xsd:element minOccurs="0" name="Jour_4" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipe_Jour_4Type"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2Type">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="checkboxJourPaticipe" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2_checkboxJourPaticipeType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputText1Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextCourrielType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextNomType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextOrganisationsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_select1Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_select2Type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_respType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="group1" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group1Type"/>
            <xsd:element minOccurs="0" name="group2" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_group2Type"/>
            <xsd:element minOccurs="0" name="inputText1" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputText1Type"/>
            <xsd:element minOccurs="0" name="inputTextCourriel" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextCourrielType"/>
            <xsd:element minOccurs="0" name="inputTextNom" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextNomType"/>
            <xsd:element minOccurs="0" name="inputTextOrganisations" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_inputTextOrganisationsType"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="select1" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_select1Type"/>
            <xsd:element minOccurs="0" name="select2" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_resp_select2Type"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_timestampType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_tplVersionType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__c8oAclType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="~c8oAcl" name="originalKeyName" type="xsd:string"/>
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_docType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_id" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__idType"/>
            <xsd:element minOccurs="0" name="_rev" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__revType"/>
            <xsd:element minOccurs="0" name="formId" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_formIdType"/>
            <xsd:element minOccurs="0" name="resp" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_respType"/>
            <xsd:element minOccurs="0" name="timestamp" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_timestampType"/>
            <xsd:element minOccurs="0" name="tplVersion" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc_tplVersionType"/>
            <xsd:element minOccurs="0" name="_c8oAcl" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_doc__c8oAclType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_valueType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="doc" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_value_docType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_itemType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="id" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_idType"/>
            <xsd:element minOccurs="0" name="key" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_keyType"/>
            <xsd:element minOccurs="0" name="value" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_item_valueType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rowsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rows_itemType"/>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:byte"/>
        <xsd:attribute default="array" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_total_rowsType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute default="string" name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs_GetResponseByFormId_document_couchdb_outputType">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="_c8oMeta" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output__c8oMetaType"/>
            <xsd:element minOccurs="0" name="offset" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_offsetType"/>
            <xsd:element minOccurs="0" name="rows" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_rowsType"/>
            <xsd:element minOccurs="0" name="total_rows" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_output_total_rowsType"/>
        </xsd:sequence>
        <xsd:attribute default="object" name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="c8oforms_response_fs__GetResponseByFormIdResponseData">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="couchdb_output" type="C8Oforms_NGX_ns:c8oforms_response_fs_GetResponseByFormId_document_couchdb_outputType"/>
            <xsd:element minOccurs="0" name="error" type="C8Oforms_NGX_ns:ConvertigoError"/>
        </xsd:sequence>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="context" type="xsd:string"/>
        <xsd:attribute name="contextId" type="xsd:string"/>
        <xsd:attribute name="fromStub" type="xsd:boolean"/>
        <xsd:attribute name="fromcache" type="xsd:boolean"/>
        <xsd:attribute name="generated" type="xsd:string"/>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="signature" type="xsd:long"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="screenclass" type="xsd:string"/>
        <xsd:attribute name="userReference" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContextVariable">
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoErrorContext">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="variable" type="C8Oforms_NGX_ns:ConvertigoErrorContextVariable"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConvertigoError">
        <xsd:sequence minOccurs="0">
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="details" type="xsd:string"/>
            <xsd:element name="context" type="C8Oforms_NGX_ns:ConvertigoErrorContext"/>
            <xsd:element name="exception" type="xsd:string"/>
            <xsd:element name="stacktrace" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="project" type="xsd:string"/>
        <xsd:attribute name="connector" type="xsd:string"/>
        <xsd:attribute name="transaction" type="xsd:string"/>
        <xsd:attribute name="sequence" type="xsd:string"/>
        <xsd:attribute name="type">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="c8o"/>
                    <xsd:enumeration value="project"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
